<p>login-screen works!</p>

<form [formGroup]="loginForm">
    <div class="row">
        <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>e-mail</mat-label>
            <input matInput [formControlName]="'email'">
            <!-- <div class="errorMsg" *ngIf="metupalDetailsForm.controls.ms_teudat_zehut.errors?.required">
                שדה חובה
            </div> -->
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [formControlName]="'password'"  minlength="8">
        </mat-form-field>
    </div>
    <div class="row">
        <button type="submit" mat-raised-button color="primary" style="float: left;"
        [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </div>
</form>
